[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "*"
msgpack = "*"
click = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.9"
